@(list: List[Struct.Album], artist_id: String, artist: String)

@main{
<div class="col-sm-12">
	<h2>Result</h2>
	
	<table class="table">
	    <thead>
	        <tr>
	            <th>Name</th>
	            <th></th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
	        @for(album <- list) {
	            <tr>
	                <td>@album.getName()</td>
	                <td>
	                    @helper.form(action = routes.Album.addAlbum()) {
	                        <input type="hidden" name="album" value=@album.getName().replace(' ', '+')>
	                        <input type="hidden" name="mbid" value=@album.getMbid()>
	                        <input type="hidden" name="image" value=@album.getImage()>
	                        <input type="hidden" name="artist_id" value=@artist_id>
	                        <input type="submit" value="Add to my list">
	                    }
	                </td>
	                <td>
	                    @helper.form(action = routes.Search.albumInfo(artist, album.getName())) {
	                        <input type="hidden" name="mbid" value=@album.getMbid()>
	                        <input type="submit" value="View album info">
	                    }
	                </td>
	            </tr>
	        }
	    </tbody>
	</table>
</div>
}