@(list: List[Struct.Artist])

@main{
<div class="col-sm-12">
	<h2>Result</h2>
	
	<table class="table">
	    <thead>
	        <tr>
	            <th>Name</th>
	            <th></th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
	        @for(artist <- list) {
	            <tr>
	                <td>@artist.getName()</td>
	                <td>
	                    @helper.form(action = routes.Artist.addArtist()) {
	                        <input type="hidden" name="artist" value=@artist.getName().replace(' ', '+')>
	                        <input type="hidden" name="mbid" value=@artist.getMbid()>
	                        <input type="hidden" name="image" value=@artist.getImage()>
	                        <input type="submit" value="Add to my list">
	                    }
	                </td>
	                <td>
	                    @helper.form(action = routes.Search.albumSearch(artist.getName())) {
	                        <input type="hidden" name="mbid" value=@artist.getMbid()>
	                        <input type="submit" value="View albums">
	                    }
	                </td>
	            </tr>
	        }
	    </tbody>
	</table>
</div>
}