@(artist: models.DbModel.Artists, album_list: List[models.DbModel.Albums], news_list: List[models.Struct.News], similar_artists: List[models.Struct.Artist])

@main{
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-6">
		    <h2>@artist.getName()</h2>
		    
		    @helper.form(action = routes.Search.albumSearch(artist.getName())) {
		        <input type="hidden" name="mbid" value="@artist.getMbid()">
		        <input type="submit" value="View albums">
		    }
		    
		    <div class="liquid-slider" id="slider-id">
			    @for(album <- album_list) {
			        <div>
			            <p><a href="/albums/@album.mbid">@album.name</a></p>
			            <img src="@album.image">
			        </div>
			    }
			</div>
		</div>
    
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12"><h2>News</h2></div>
            </div>
            
            <div class="row">
                <div class="col-sm-12" id="scrollcontainer">
				    @for(news <- news_list) {
				        <p><a href="@news.getUrl()" target="_blank">@news.getName()</a></p>
				    }
				</div>
			</div>
		</div>
    </div>
    
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12">
		    @for(artist <- similar_artists) {
		        <div class="col-sm-3">
		            <span><a href="/artists/@artist.getMbid()">@artist.getName()</a></span>
		        </div>
		    }
		</div>
	</div>
</div>
}