@(album_list: com.avaje.ebean.Page[models.DbModel.Albums])

@main{
<div class="col-sm-12">
    <h2>Albums</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
			@for(album <- album_list.getList) {
			    <tr>
			        <td>@album.name</td>
			        <td><a href="/albums/@album.mbid">View</a></td>
			    </tr>
			}
		</tbody>
	</table>
</div>
}