@(artist_list: com.avaje.ebean.Page[models.DbModel.Artists])

@main{
<div class="col-sm-12">
    <h2>Artists</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
			@for(artist <- artist_list.getList) {
			    <tr>
			        <td>@artist.name</td>
			        <td><a href="/artists/@artist.mbid">View</a></td>
			    </tr>
			}
		</tbody>
	</table>
</div>
}