@(artist_list: com.avaje.ebean.Page[models.DbModel.Artists], album_list: com.avaje.ebean.Page[models.DbModel.Albums])
@()

@main{
<div class="col-sm-12">
    @if(flash.get("error")) {
        <div class="alert alert-danger">@flash.get("error")</div>
    }
    
    @if(flash.get("success")) {
        <div class="alert alert-success">@flash.get("success")</div>
    }
    
	<h2>Search Artist</h2>
	
	@helper.form(action = routes.Search.artistSearch()) {
	    <input type="text" name="artist">
	    <input type="submit" value="Search">
	}
	
	<h3>Recently added artists</h3>
	
	@for(artist <- artist_list.getList) {
	    <div class="col-sm-3">
	        <p><a href="/artists/@artist.mbid">@artist.name</a></p>
	    </div>
	}
	
	<h3>Recently added albums</h3>
	
	@for(album <- album_list.getList) {
	    <div class="col-sm-3">
	        <p><a href="/albums/@album.mbid">@album.name</a></p>
	    </div>
	}
</div>
}
