@(data: Struct.Album, artist: String)

@main{
<div class="col-sm-12">
	<h2>Album Info</h2>
	
	<p>@data.getName()</p>
	<p>@artist</p>
	<img src=@data.getImage() />
	<p>TrackListing</p>
	
	<table class="table">
	    <thead>
	        <tr>
	            <th>Track</th>
	            <th>Duration</th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
			@for(track <- data.getTracks()) {
			    <tr>
			        <td>@track.getName()</td>
			        <td>@track.getDuration()</td>
			        <td><a class="video-track" href="#" data="@artist @track.getName" data-toggle="modal" data-target="#videoModal">Video</a></td>
			    </tr>
			}
		</tbody>
	</table>
</div>

<div id="videoModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script src="@routes.Assets.at("javascripts/albums.js")" type="text/javascript"></script>
}